* {
  padding: 0;
}
body {
  background-color: #2a4cc6;
} /* 
.CustomerCareCard,
.CategoriesCard,
.PhysicalStoreCard,
.OffersPaymentCards {
  display: inline-block;
} */
.components {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.footer {
  display: flex;
  flex-direction: column;
}
/*.last-part-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px 20px;
} */

.last-part-footer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.slogans {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  overflow-x: hidden;
}

.delivery,
.social-media {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.delivery p {
  margin-right: 10px;
}

.wish {
  text-align: center;
}
